
<div class="container-fluid">
  <div class="row cust-grid">
    <h1>hi</h1>
    <div class="card-deck">
      <div class="col-4-lg ml-4">
        <div class="card" style="width:10rem;">
          <img class="card-img-top" src="assets/1.jpg" alt="Card image cap" style="height:150px">
          <h5 class="card-title"><strong>You Lose</strong></h5>     
        </div>
      </div>
      <div class="col-4-lg ml-4">
        <div class="card" style="width:10rem;">
          <img class="card-img-top" src="assets/2.jpg" alt="Card image cap" style="height:150px">
          <h5 class="card-title"><strong>We Track</strong></h5>     
        </div>
      </div>
      <div class="col-4-lg ml-4">
        <div class="card" style="width:10rem;">
          <img class="card-img-top" src="assets/3.jpg" alt="Card image cap" style="height:150px">
          <h5 class="card-title"><strong>We Pickup</strong></h5> 
        </div>
      </div>
      <div class="col-4-lg ml-4">
        <div class="card" style="width:10rem;">
            <img class="card-img-top" src="assets/4.jpg" alt="Card image cap" style="height:150px">
            <h5 class="card-title"><strong>We Deliver</strong></h5> 
        </div>
      </div>
    </div>

  </div>
</div>

