.card-title{
    text-align: center;
   }
   
   .card {
      box-shadow: 2px 4px 8px 3px rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;
    }
   
    .cust-grid{
      margin-top: 2%;
     justify-content: center;
     }
   
    .card:hover{
     -webkit-box-shadow: -1px 20px 30px -12px rgba(0,0,0,0.75);
     -moz-box-shadow: -1px 20px 30px -12px rgba(0,0,0,0.75);
     box-shadow: -1px 20px 30px -12px rgba(0, 0, 0, 0.75);
    }
   
   .col-4-lg:hover {
     -ms-transform: scale(1.2); /* IE 9 */
     -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
   }